/*El de # se utiliza para un único elemento en la página*/
#tituloPrincipal{
/*    Se agregan los atributos que se deseen*/
    color:blue;
    font-size:30px;
    font-family: Comic Sans MS;
/*    Luego de definirlos, se debe de llamarlo en la página donde se hizo,
    en este caso en el ejemplo09, SIEMPRE se hacen en el head*/
}

/*El de . se utiliza para un único elemento en la página*/
.parrafosEjemplo{
    color:green;
    font-weight: bold;
    font-size: 50px;
}

.parrafoSecundario{
    color:blueviolet;
    
}

/*El de p se utiliza para TODOS los párrafos */
p{
    color:brown;
    color:#961c4b;
    margin: 1px 2px 3px 4px;/*Va en orden de las manecillas del reloj*/
}
/*Se aplica en todas las anclas*/
/*hover es para cuando se posicione el ratón encima*/
a:hover{
    color:white;
    background-color: black;
    font-size: 25px;
    transition: 0.9s;
    
}
a:active{/*active es para cuando de click*/
    color:crimson;
    background-color: cadetblue;
    
}

