<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"> 
<!--ubicación y nombre de la plantilla-->    
    <head th:replace="layout/plantilla :: head">       
        <title>Inicio</title>
    </head>
    <body>
        <!--text: reemplaza el contenido dentro del elemento en el que estemos, por ese texto-->
        <!--$:Voy a obtener un atributo que se llame x de model-->
        <!--<div th:text="${mensaje}">Página de index del folder de templates</div>-->
        <header th:replace="layout/plantilla :: header"></header>
        <footer th:replace="layout/plantilla :: footer"> </footer>
    </body>
</html>
